.gallery {
  display: flex;
  flex-direction: column;
}

.gallery__title {
  margin: 0;
  font-size: 30px;
  text-align: center;
  padding-top: 40px;
  font-weight: 300;
  margin-bottom: 20px;
}

.gallery__list-wrapper {
  width: 320px;
  margin: 0 auto;
  overflow: hidden;
}

.gallery__list {
  display: flex;
}

.gallery__img {
  width: 320px;
  box-sizing: border-box;
}

@media (min-width: 321px) and (max-width: 767px) {
  .gallery__list-wrapper {
    width: 100%;
  }

  .gallery__item {
    min-width: 100%;
  }

  .gallery__list {
    width: 100%;
  }

  .gallery__img {
    min-width: 100%;
  }
}

@media (min-width: 768px) {
  .gallery__title {
    font-size: 32px;
  }

  .gallery__list-wrapper {
    width: 100%;
    margin-top: 50px;
  }

  .gallery__list {
    justify-content: center;
  }

  .gallery__item {
    position: relative;

    &:hover {
      &::before {
        display: block;
        position: absolute;
        content: "";
        width: 100%;
        height: 98.2%;
        background-color: rgba(247, 129, 29, 0.9);
        cursor: pointer;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url("../img/gallery_icon_hover.png");
      }
    }
  }

  .gallery__img {
    width: 100%;
  }
}

@media (min-width: 1170px) {
  .gallery__title {
    font-size: 46px;
  }
}
