.index-header {
  width: 300px;
  padding: 0 10px;
  margin: 0 auto;
}

.header-logo {
  margin-top: 20px;
  margin-left: 15px;
}

.header-logo__img {
  width: 180px;
  box-sizing: border-box;
}

.header-logo__description {
  display: none;
}

.header-phone__list {
  text-align: center;
  position: relative;

  &--opened {
    .header-phone__item {
      background-color: #ffffff;
      z-index: 10;

      &:nth-child(3) {
        border-right: 2px solid black;
        border-left: 2px solid black;
        border-top: 2px solid black;
      }

      &:nth-child(2) {
        position: absolute;
        display: block;
        left: 0;
        top: 113px;
        border-right: 2px solid black;
        border-left: 2px solid black;
      }

      &:last-child {
        position: absolute;
        display: block;
        top: 196px;
        border-right: 2px solid black;
        border-left: 2px solid black;
        border-bottom: 2px solid black;
      }
    }
  }
}

.header-phone__list-btn {
  position: absolute;
  width: 40px;
  height: 12px;
  content: "";
  background-position: right;
  background-repeat: no-repeat;
  background-color: transparent;
  background-image: url("../img/header_phone_arrow_down.png");
  border: none;
  right: 25px;
  top: 58px;
  cursor: pointer;
}

.header-phone__item {
  width: 300px;

  &:nth-child(2) {
    display: none;
  }

  &:last-child {
    display: none;
  }
}

.header-phone__title {
  font-size: 16px;
}

.header-phone__link {
  font-size: 40px;
}

.header-popup-item__list {
  display: flex;
  margin-top: 15px;
}

.header-popup-item__img {
  width: 100px;
  height: 100px;
  content: "";
  background-position: center;
  background-repeat: no-repeat;


  &--01 {
    background-image: url("../img/header_popup_item_01.png");
  }

  &--02 {
    background-image: url("../img/header_popup_item_02.png");
  }

  &--03 {
    background-image: url("../img/header_popup_item_03.png");
  }
}

.header-popup-item__item {
  position: relative;

  &:nth-child(2) {
    .header-popup-item__description {
      left: -110px;
      padding-top: 15px;
      padding-right: 30px;
      width: 255px;
      padding-bottom: 15px;
    }
  }

  &:last-child {
    .header-popup-item__description {
      left: -210px;
    }
  }

  .header-popup-item__img {
    &--01 {
      padding-left: 10px;
      margin-left: -10px;
    }

    &--03 {
      padding-right: 10px;
      margin-right: -10px;
    }
  }

  &:hover {
    background-color: #f7811d;

    .header-popup-item__img {
      background-color: #f7811d;

      &--01 {
        background-image: url("../img/header_popup_item_01_active.png");
      }

      &--02 {
        background-image: url("../img/header_popup_item_02_active.png");
      }

      &--03 {
        background-image: url("../img/header_popup_item_03_active.png");
      }
    }
  }
}

.header-popup-item__link {
  &:hover > .header-popup-item__description {
    background-color: #f7811d;
    color: white;
    display: block;
  }
}

.header-popup-item__description {
  margin: 0;
  width: 285px;
  position: absolute;
  height: 60px;
  left: -10px;
  padding-left: 35px;
  padding-top: 30px;
  display: none;

  // &:nth-child(2) {
  //   left: -110px;
  // }

  // &:last-child {
  //   left: -210px;
  // }

  &::after {
    display: block;
    width: 27px;
    height: 23px;
    content: "";
    position: absolute;
    background-image: url("../img/header_arrow-right.png");
    top: 35px;
    right: 25px;
  }

  &--opened {
    background-color: #f7811d;
    color: white;
    display: block;
  }
}

.header-menu__link {
  // display: block;
  // width: 225px;
  padding: 13px 0;
  text-align: center;
}

.header-menu__item {
  border-bottom: 1px solid #d7dee3;
  text-align: center;
  padding: 13px 0;
  margin: 0 auto;
  width: 100%;

  &:first-child {
    border-bottom: none;
  }

  &:last-child {
    border-bottom: none;
    padding-bottom: 20px;
  }
}

.header-menu__btn {
  display: block;
  position: absolute;
  content: "";
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 57px;
  height: 27px;
  right: 17px;
  top: 22px;
  background-image: url("../img/humburger.png");

  &--opened {
    background-image: url("../img/closed_menu.png");
    width: 48px;
    height: 48px;
    top: 33px;
    right: 17px;
  }
}

.header-menu {
  width: 320px;
  margin-left: -10px;
}

.header-menu__list {
  position: absolute;
  background-color: white;
  padding: 0;
  margin: 0 auto;
  top: 100px;
  display: none;
  z-index: 100;

  &--opened {
    display: block;
  }
}

.header-menu__enter {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 294px;
  margin: 0 auto;
  padding: 29px 0;
  border: 3px solid #e3e8ec;
  margin-bottom: 20px;

  &::before {
    display: block;
    width: 43px;
    height: 43px;
    content: "";
    background-image: url("../img/enter_icon.png");
  }

  span {
    font-size: 18px;
    border-bottom: 1px dashed #000000;
    margin-left: 20px;
  }
}

.header-menu-user__list {
  display: none;
}

.header-search-wrapper {
  display: none;
}

@media (min-width: 321px) and (max-width: 767px) {
  .index-header {
    width: 100%;
    padding: 0;
  }

  .header-popup-item__list {
    width: 300px;
    margin: 0 auto;
  }

  .header-menu {
    margin: 0;
  }

  .header-phone__list {
    width: 300px;
    margin: 0 auto;
    padding-top: 30px;
    min-height: 85px;
    position: relative;
  }

  .header-phone__title {
    margin-top: 0;
  }

  .header-menu__list {
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }

  .header-menu__item {
    margin: 0 auto;
  }

  @media (min-width: 580px) {
    .header-phone__list {
      margin-top: -100px;
    }
  }
}

@media (min-width: 768px) {
  .index-header {
    width: 688px;
    padding: 0 40px;
  }

  .header-logo {
    margin-left: 100px;
  }

  .header-menu__btn {
    top: 20px;
    right: 0;
    left: 40px;

    &--opened {
      top: 20px;
      right: 0;
      left: 40px;
    }
  }


  .header-phone__list {
    width: 290px;
    margin-left: auto;
    margin-top: -80px;
    margin-right: 55px;
    padding-top: 30px;
    min-height: 85px;
  }

  .header-phone__title {
    margin-top: 0;
  }

  .header-popup-item__list {
    width: 300px;
    margin-left: auto;
  }

  .header-popup-item__item {
    &:first-child {
      .header-popup-item__description {
        left: -10px;
      }
    }

    &:nth-child(2) {
      .header-popup-item__description {
        width: 265px;
        padding-right: 50px;
      }
    }
  }

  .header-popup-item__description {
    width: 315px;
  }

  .header-menu {

    margin: 0;
    padding: 0;
    background-color: white;
    max-height: 540px;
  }

  .header-menu__list {
    width: 728px;
    padding-left: 40px;
    margin-left: -40px;
    height: 400px;
    display: none;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;

    &--opened {
      display: flex;
    }
  }

  .header-menu__enter {
    position: absolute;
    top: -110px;
    right: 40px;
    background-color: white;
  }

  .header-menu__item {
    border-bottom: none;
    padding: 13px 0;
    margin: 0;
    text-align: left;
    width: 300px;

    &:first-child {
      padding: 0;
    }
  }

  .header-menu__link {
    text-align: left;
    padding: 0;
    margin: 15px 0;
    width: 100%;
  }

  .header-menu-user__list {
    position: absolute;
    top: 500px;
    width: 688px;
    padding: 0 40px;
    margin-left: -40px;
    background-color: white;
    z-index: 100;
    display: none;
    justify-content: space-between;
    padding-bottom: 40px;

    &--closed {
      display: flex;
    }
  }

  .header-menu-user__item {
    width: 216px;
    height: 216px;
    border: 3px solid #e3e8ec;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
  }

  .header-menu-user__link {
    margin-top: 25px;
    width: 150px;

    &::before {
      display: block;
      min-width: 90px;
      height: 65px;
      content: "";
      background-position: center;
      background-repeat: no-repeat;
    }

    &--01 {
      &::before {
        background-image: url("../img/footer_menu_user_icon_01.png");
      }
    }

    &--02 {
      &::before {
        background-image: url("../img/footer_menu_user_icon_02.png");
      }
    }

    &--03 {
      &::before {
        background-image: url("../img/footer_menu_user_icon_03.png");
      }
    }
  }

  .header-search-wrapper {
    display: block;
    position: relative;
    margin-top: -80px;
    padding-bottom: 35px;
    width: 300px;

    label {
      position: absolute;
      top: 10px;
      left: 10px;
      display: block;
      content: "";
      width: 23px;
      height: 23px;
      background-image: url("../img/lupe.png");
    }

    input[type="search"] {
      width: 287px;
      height: 45px;
      -webkit-appearance: none;
      -moz-appearance: none;
      -ms-appearance: none;
      appearance: none !important;
      border: none;
      background-color: #e8eef3;
      padding-left: 40px;
    }
  }
}

@media (min-width: 769px) and (max-width: 1169px) {
  .index-header {
    width: 95%;
    padding: 0;
    margin: 0 auto;
  }

  .header-logo {
    margin-left: 17%;
  }

  .header-menu__btn {
    left: 6.7%;
  }

  .header-menu__list {
    align-content: space-between;
    width: 100%;
    height: 390px;
    left: 0;
    margin: 0;
    padding: 0 6.51% 10px 6.51%;
    box-sizing: border-box;
  }

  .header-menu-user__list {
    justify-content: space-between;
    width: 100%;
    top: 490px;
    padding: 0 6.51% 40px 6.51%;
    box-sizing: border-box;
    left: 0;
    margin: 0;
  }

  .header-menu__enter {
    margin-right: 2%;
  }

  .header-menu__item {
    width: 250px;

    &:nth-child(8) {
      width: 350px;
    }
  }

  .header-search-wrapper {
    margin-left: 15px;
  }
}

@media (min-width: 1170px) {
  .index-header {
    background-image: url("../img/promo_about_background.jpg");
    margin: 0 auto;
    padding: 0;
    margin-top: -20px;
    width: 1170px;
    padding-top: 20px;
    min-height: 786px;
    position: relative;

    &--gallery {
      min-height: 350px;
      background-position: bottom;
      position: relative;

      &::before {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        min-height: 100%;
        content: "";
        background-color: rgba(0, 0, 0, 0.4);
      }

      .header-logo {
        position: relative;
        padding: 10px;
        width: 180px;
        margin-top: 10px;
        background-color: rgba(255, 255, 255, 0.4);
        border-radius: 1px;
      }
    }
  }

  .header-search-wrapper {
    display: none;
  }

  .header-phone__list {
    color: white;
    display: flex;
    width: 660px;
    justify-content: space-between;
    margin-top: -98px;
    margin-left: 350px;


    a {
      color: white;
    }
  }

  .header-phone__item {
    &:nth-child(2) {
      display: block;
    }

    &:last-child {
      display: block;
    }
  }

  .header-phone__list-btn {
    display: none;
  }

  .header-popup-item__list {
    flex-direction: column;
    margin-top: -100px;
    position: relative;
    align-items: flex-end;
    z-index: 100;
  }

  .header-popup-item__img {
    float: right;
    pointer-events: none;

    &--01 {
      background-image: url("../img/header_popup_item_01_active.png");
    }

    &--02 {
      background-image: url("../img/header_popup_item_02_active.png");
    }

    &--03 {
      background-image: url("../img/header_popup_item_03_active.png");
    }
  }

  .header-menu__btn {
    z-index: 100;
    left: 20px;
    top: 60px;

    &--opened {
      top: 30px;
      left: 10px;
    }
  }

  .header-popup-item__item {
    width: 100px;

    &:first-child {
      .header-popup-item__description {
        left: -255px;
      }
    }

    &:nth-child(2) {
      .header-popup-item__description  {
        left: -255px;
        width: 200px;
        padding-right: 20px;
      }
    }

    &:last-child {
      .header-popup-item__description {
        left: -255px;
      }
    }

    .header-popup-item__img {
      &--01 {
        padding-left: 0;
        margin-left: 0;
      }

      &--03 {
        padding-right: 0;
        margin-right: 0;
      }
    }
  }

  .header-menu {
    max-height: 520px;
    background-color: white;
    position: absolute;
    top: 0;
    width: 1170px;
    display: flex;
    justify-content: space-between;
    z-index: 120;
    box-shadow: 0 0 100px 0 rgba(0, 0, 0, 1);
  }

  .header-menu__list {
    width: 580px;
    height: 420px;
    margin: 0;
    padding: 50px 70px;
    position: relative;
    top: 0;
    left: 0;
    z-index: 50;
  }

  .header-menu__item {
    width: 230px;

    &:hover {
      a {
        border-bottom: 1px dashed #000000;
      }
    }
  }

  .header-menu-user__list {
    position: relative;
    top: 0;
    flex-direction: column;
    margin-top: 70px;
    width: 355px;
    padding: 0;
    margin-right: 55px;
    justify-content: flex-start;
  }

  .header-menu-user__item {
    width: 348px;
    height: 101px;
    flex-direction: row;
    margin-bottom: 11px;

    &:hover {
      border: 3px solid #f7811d;
    }
  }

  .header-menu-user__link {
    margin-top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    width: 300px;
    padding-left: 10px;

    &::before {
      margin-right: 10px;
    }
  }

  .header-popup-item__description {

    background-color: #f7811d;
    top: 0;
    width: 220px;
    height: 70px;
    color: white;

    &::after {
      background-image: none;
    }
  }

  .header-popup-item__link {
    height: 100px;

    &:hover > .header-popup-item__description {
      background-color: #f7811d;
      color: white;
      display: block;
    }
  }
}

@media (min-width: 1171px) and (max-width: 1560px) {
  .index-header {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .header-menu {
    width: 100%;
  }
}

@media (min-width: 1560px) {
  .header-menu__btn {
    display: none;
    top: 60px;
    left: 253px;
  }

  .header-menu {
    position: fixed;
  }

  .index-header {
    .header-logo {
      display: none;
    }
  }

  .header-logo {
    margin-left: 40px;
  }

  .header-logo__description {
    display: block;
    width: 200px;
    font-size: 16px;
    margin-top: 0;
  }

  .header-phone__list {
    margin-top: 20px;
    margin-left: 70px;
  }

  .header-popup-item__list {
    flex-direction: row;
    justify-content: space-between;
    width: 350px;
    margin-right: 50px;
  }

  .header-popup-item__description {
    top: 100px;
    width: 350px;
    box-sizing: border-box;
  }

  .header-popup-item__item {
    &:first-child {
      .header-popup-item__description {
        left: 0;
      }
    }

    &:nth-child(2) {
      .header-popup-item__description {
        width: 350px;
        left: -125px;
      }
    }

    &:nth-child(3) {
      .header-popup-item__description {
        left: -250px;
      }
    }
  }
}
