.our-houses-main {
  position: relative;
  margin-top: 50px;
}

.our-houses__list {
  display: flex;
  width: 100%;
  transition: margin-left 0.5s;
}

.our-houses__list-wapper {
  width: 100%;
  overflow-x: hidden;
}

.our-houses {
  background-image: url("../img/our_houses_background.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  min-height: 560px;
  min-width: 100%;
}

.our-houses__title {
  font-size: 30px;
  font-weight: 300;
  color: white;
  padding-top: 50px;
  text-align: center;
}

.our-houses__link {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;

  &::before {
    display: block;
    content: "";
    width: 16px;
    height: 24px;
    background-image: url("../img/our_houses_pin.png");
    margin-right: 10px;
  }

  span {
    padding-bottom: 5px;
    border-bottom: 1px dashed white;
  }
}

.our-houses__sub-title {
  color: white;
  text-align: center;
  width: 280px;
  min-width: 280px;
  margin: 10px auto;
  display: block;
  margin-top: 30px;
}

.our-houses__description {
  color: white;
  text-align: center;
  width: 280px;
  min-width: 280px;
  font-size: 18px;
  margin: 10px auto;
  display: block;
}

@media (min-width: 321px) and (max-width: 767px) {
  .our-houses__description {
    width: 95%;
  }
}

@media (min-width: 768px) {
  .our-houses__title {
    font-size: 32px;
  }

  .our-houses__sub-title {
    font-size: 26px;
  }

  .our-houses__description {
    width: 620px;
    margin-bottom: 60px;
  }
}

@media (min-width: 1170px) {
  .our-houses__title {
    font-size: 46px;
  }
}

@media (min-width: 1171px) and (max-width: 1574px) {
  .our-houses {
    width: 100%;
    background-size: cover;
  }
}
