.page-contacts-req {
  font-size: 24px;
  margin-left: 20px;
  display: block;

  span {
    border-bottom: 1px dashed #000000;
  }
}

.page-contacts__item-title {
  font-size: 30px;
  font-weight: 300;
}

.page-contacts__item-wrapper {
  p:not(.page-contacts__passport) {
    color: #6b7078;
    display: block;
    position: relative;
    padding-left: 50px;

    &::before {
      display: block;
      content: "";
      min-width: 28px;
      height: 31px;
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  a {
    color: #6b7078;
  }
}

.page-contacts__list {
  margin: 0 20px;
}

.page-contacts__passport {
  font-size: 24px;
}

.page-contacts__adress {
  &::before {
    background-image: url("../img/contacts_map.png");
  }
}

.page-contacts__phone {
  &::before {
    background-image: url("../img/contacts_phone.png");
  }
}

.page-contacts__email {
  &::before {
    background-image: url("../img/contacts_email.png");
  }
}

.page-contacts__sub-wrapper {
  width: 100%;
  content: "";
  border: 3px solid #f7811d;
  display: none;
  margin-top: 50px;
  padding: 10px;
  box-sizing: border-box;
  color: #6b7078;

  a {
    color: #6b7078;
  }
}

.page-contacts-radio-input:checked ~ .page-contacts__sub-wrapper {
  display: block;
}

.page-contacts-radio-input {
  position: absolute;
  left: -9999px;
}

.page-contacts-radio-turn {
  position: relative;
  color: #6b7078;
  width: 195px;
  height: 31px;
  min-width: 195px;
  display: block;

  .turn-down {
    display: none;
  }

  .turn {
    &:hover {
      border-bottom: 1px solid #6b7078;
    }
  }

  &::after {
    display: block;
    width: 23px;
    height: 12px;
    background-image: url("../img/contacts_arrow_up.png");
    content: "";
    position: absolute;
    top: 10px;
    right: 0;
  }
}

.page-contacts-radio-input:checked ~ .page-contacts-radio-turn {
  .turn-down {
    display: block;
  }

  .turn {
    display: none;
  }

  &::after {
    background-image: url("../img/contacts_arrow_down.png");
    pointer-events: none;
  }
}

.page-contacts__sub-list {
  margin: 0 20px;
  margin-top: 60px;
  margin-bottom: 60px;

  input:focus + label {
    outline: -webkit-focus-ring-color auto 5px;
  }

  label {
    cursor: pointer;
  }
}

.page-contacts-radio-title {
  font-size: 34px;

  &:hover {
    border-bottom: 1px solid #000000;
  }
}

.page-contacts__sub-wrapper-item {
  margin-bottom: 50px;
}

.page-contacts__sub-item {
  margin-bottom: 40px;
}

.page-contacts-pull {
  margin-left: 20px;
  margin-bottom: 50px;

  a {
    font-size: 24px;
  }
}

@media (min-width: 768px) {
  .page-contacts__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 40px;
    margin-top: 50px;
  }

  .page-contacts-req {
    margin-left: 40px;
  }

  .page-contacts__item {
    width: 47%;

    &:last-child {
      width: 100%;
    }

    &:first-child {
      .page-contacts__item-title {
        min-height: 60px;
      }
    }
  }

  .page-contacts__passport-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .page-contacts__item-wrapper {
      width: 47%;
    }
  }

  .page-contacts__sub-wrapper-item {
    display: flex;
  }

  .page-contacts__sub-wrapper-item-wrapper-01 {
    width: 40%;
    display: flex;
    align-items: flex-start;
  }

  .line {
    display: block;
    margin-left: 5px;
    margin-right: 20px;
    margin-top: 20px;
    width: 100%;
    height: 24px;
    border-bottom: 1px solid #d9dfe7;
  }

  .page-contacts__sub-wrapper-title {
    &--ing {
      min-width: 170px;
      display: block;
    }
  }

  .page-contacts__sub-list {
    margin: 0 40px;
    margin-top: 60px;
    margin-bottom: 40px;
  }

  .page-contacts__sub-item {
    width: 50%;
  }

  .page-contacts__sub-wrapper {
    padding: 50px;
    min-width: 688px;
    position: relative;

    &--02 {
      left: -100%;
    }

    &--04 {
      left: -100%;
    }

    &--06 {
      left: -100%
    }

    &--08 {
      left: -100%;
    }
  }

  .page-contacts__sub-wrapper-item {
    margin-bottom: 0;
  }

  .page-contacts__sub-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .page-contacts__sub-item {
    margin-bottom: 70px;
  }

  .page-contacts-pull {
    margin-left: 40px;
    width: 300px;

    h4 {
      font-size: 34px;
      line-height: 40px;
    }
  }
}

@media (min-width: 1170px) {
  .page-contacts__list {
    margin: 0;
    margin-left: 65px;
    margin-top: 50px;
  }

  .page-contacts-req {
    margin-left: 65px;
    margin-top: 150px;
  }

  .page-contacts__item {
    &:first-child {
      .page-contacts__item-title {
        min-height: auto;
      }
    }
  }

  .page-contacts__item-title {
    font-size: 40px;
    line-height: 42px;
  }

  .page-contacts__sub-list {
    margin: 0;
    margin-left: 65px;
    margin-top: 60px;
    margin-bottom: 40px;
  }

  .page-contacts__sub-item {
    width: 33.33%;
  }

  .page-contacts__sub-wrapper {
    width: 1040px;

    &--03 {
      left: -200%;
    }

    &--04 {
      left: 0;
    }

    &--05 {
      left: -100%
    }

    &--06 {
      left: -200%;
    }

    &--08 {
      left: -100%
    }

    &--09 {
      left: -200%;
    }
  }

  .page-contacts-pull {
    margin-left: 65px;
    margin-bottom: 90px;
  }
}
