.promo-about {
  background-repeat: no-repeat;
  background-position: bottom;
  background-color: #0425b2;
  background-image: url("../img/promo_about_background.png");
  min-height: 730px;
  margin: 0 auto;
  padding-top: 50px;
  min-width: 320px;
}

.promo-about__title {
  font-size: 30px;
  color: white;
  font-weight: 300;
  width: 95%;
  min-width: 280px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 30px;
}

.promo-about__description {
  color: white;
  text-align: center;
  width: 95%;
  min-width: 280px;
  margin: 0 auto;
}

.promo-about__question-title {
  display: none;
}

.promo-about__question-description {
  display: none;
}

.promo-about__question-btn {
  font-size: 22px;
  color: white;
  width: 300px;
  min-width: 300px;
  background-color: #f7811d;
  display: block;
  padding: 5px 0;
  margin: 0 auto;
  margin-top: 45px;

  span {
    display: block;
    width: 220px;
    text-align: center;
    padding: 20px 0;
    margin-left: auto ;
    border-left: 1px solid #d4792b;
    position: relative;

    &::before {
      display: block;
      content: "";
      position: absolute;
      width: 44px;
      height: 37px;
      background-image: url("../img/question_icon.png");
      left: -60px;
      top: 15px;
    }

  }
}

@media (min-width: 321px) and (max-width: 767px) {
  .promo-about {
    background-image: url("../img/promo_about_background.jpg");
    width: 100%;
    min-width: 320px;
  }
}

@media (min-width: 768px) {
  .promo-about {
    background-image: url("../img/promo_about_background.jpg");
    width: 100%;
    min-height: 551px;
  }

  .promo-about__title {
    font-size: 32px;
    width: 400px;
    margin: 0;
    text-align: left;
    margin-bottom: 30px;
    padding-left: 40px;
  }

  .promo-about__description {
    text-align: left;
    width: 310px;
    min-width: 280px;
    margin: 0;
    font-size: 24px;
    padding-left: 40px;
  }

  .promo-about__question-title {
    display: block;
    font-size: 26px;
    color: white;
    font-weight: 300;
    margin: 0;
    padding-top: 20px;
    margin-left: 30px;
    margin-bottom: 10px;
    width: 240px;
  }

  .promo-about__question-description {
    display: block;
    color: white;
    width: 270px;
    margin: 0;
    margin-left: 30px;

    a {
      color: #f7811d;
      border-bottom: 1px solid #f7811d;
    }
  }

  .promo-about__question {
    width: 688px;
    height: 170px;
    background-color: rgba(0, 0, 0, 0.6);
    margin: 0 auto;
    margin-top: 60px;
  }

  .promo-about__question-btn {
    margin: 0;
    margin-left: 370px;
    margin-top: -105px;
  }
}
