.service-3 {
  background-color: #fff7f1;
}

.service-3__title {
  margin: 0;
  font-size: 30px;
  text-align: center;
  padding-top: 40px;
  font-weight: 300;
  margin-bottom: 20px;
}

.service-3__description {
  text-align: center;
  display: block;
  margin: 10px auto;
  width: 280px;
}

.service-3__list-wrapper {
  width: 160px;
  overflow: visible;
  margin: 50px auto;
  padding-bottom: 50px;
  margin-bottom: 0;
}

.service-3__list {
  width: 320px;
  overflow: hidden;
  display: flex;
  margin-left: -80px;
}

.service-3__item {
  &:first-child {
    margin-left: -80px;
  }
}

.service-3__img {
  width: 160px;
  box-sizing: border-box;
}

@media (min-width: 321px) and (max-width: 767px) {
  .service-3__description {
    width: 95%;
  }

  .service-3__list-wrapper {
    width: 100%;
  }

  .service-3__list {
    width: 100%;
    margin: 0;
    justify-content: center;
  }

  .service-3__item {
    margin: 0;

    &:first-child {
      margin-left: 0;
    }
  }
}

@media (min-width: 768px) {
  .service-3 {
    padding-bottom: 40px;
  }

  .service-3__title {
    font-size: 32px;
  }

  .service-3__description {
    width: 688px;
    padding: 0 40px;

    &--01 {
      font-size: 26px;
      margin-bottom: 40px;
    }
  }

  .service-3__list-wrapper {
    width: 688px;
    padding: 0 40px;
  }

  .service-3__list {
    width: 100%;
    margin: 0;
    justify-content: space-between;
  }

  .service-3__item {
    margin: 0;
    position: relative;

    &:hover {
      &::before {
        display: block;
        content: "";
        left: 4%;
        width: 90%;
        height: 88%;
        top: 5%;
        background-color: rgba(255, 255, 255, 0.8);
        background-image: url("../img/certificate_icon_hover.png");
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        cursor: pointer;
      }
    }

    &:first-child {
      margin: 0;
    }
  }

}

@media (min-width: 1170px) {
  .service-3 {
    width: 1170px;
    margin: 0 auto;
  }

  .service-3__title {
    font-size: 46px;
  }

  .service-3__description {
    width: 875px;
  }

  .service-3__list-wrapper {
    width: 990px;
  }

  .service-3__img {
    width: 230px;
  }
}
