.user-menu {
  margin: 0 auto;
  width: 320px;
}

.user-menu__item {
  width: 300px;
  padding: 0 10px;
  height: 170px;
  background-repeat: no-repeat;
  background-position: left;

  &--01 {
    background-color: #f7811d;
    background-image: url("../img/transfer_mobile.png");
    background-position-x: 7px;
  }

  &--02 {
    background-color: #3dc082;
    background-image: url("../img/pay_mobile.png");
    background-position-x: 40px;
  }

  &--03 {
    background-color: #c55457;
    background-image: url("../img/enter_mobile.png");
    background-position-x: 7px;
  }

  &--04 {
    background-color: #66c4e7;
    background-image: url("../img/mode_mobile.png");
    background-position-x: 15px;
  }
}

.user-menu__link {
  color: white;
  width: 150px;
  display: block;
  padding-left: 140px;
  padding-top: 40px;
  padding-bottom: 40px;
}

@media (min-width: 321px) and (max-width: 767px) {
  .user-menu {
    width: 100%;
    margin: 0;
  }

  .user-menu__item {
    width: 100%;
    padding: 0;

    &--01 {
      background-position-x: 10%;
    }

    &--02 {
      background-position-x: 15%;
    }

    &--03 {
      background-position-x: 10%;
    }

    &--04 {
      background-position-x: 10%;
    }
  }

  .user-menu__link {
    padding-left: 45%;
  }
}

@media (min-width: 768px) {
  .user-menu {
    width: 768px;
  }

  .user-menu__list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .user-menu__item {
    width: 50%;
    padding: 0;
    background-position: right;
    height: 212px;

    &--01 {
      background-image: url("../img/transfer_tablet.png");
      background-position-x: 95%;
    }

    &--02 {
      background-image: url("../img/pay_tablet.png");
      background-position-x: 70%;
    }

    &--03 {
      background-image: url("../img/enter_tablet.png");
      background-position-x: 93%;
    }

    &--04 {
      background-image: url("../img/mode_tablet.png");
      background-position-x: 75%;
    }
  }

  .user-menu__link {
    padding: 0;
    padding-left: 40px;
    padding-top: 60px;
    padding-right: 180px;
    padding-bottom: 60px;

    &:hover {
      span {
        border-bottom: 1px solid white;
      }
    }
  }
}

@media (min-width: 769px) and (max-width: 1169px) {
  .user-menu {
    width: 100%;
  }

  .user-menu__link {
    padding-left: 15%;
    padding-right: 45%;
  }
}

@media (min-width: 1170px) {
  .user-menu {
    width: 1170px;
  }

  .user-menu__item {
    height: 290px;

    &--01 {
      background-image: url("../img/transfer_desktop.png");
      background-position-x: 95%;
    }

    &--02 {
      background-image: url("../img/pay_desktop.png");
      background-position-x: 80%;
    }

    &--03 {
      background-image: url("../img/enter_desktop.png");
      background-position-x: 93%;
    }

    &--04 {
      background-image: url("../img/mode_desktop.png");
      background-position-x: 85%;
    }
  }

  .user-menu__link {
    padding-top: 100px;
    padding-left: 50px;
    padding-right: 55%;
    padding-bottom: 100px;
  }
}

@media (min-width: 1171px) and (max-width: 1574px) {
  .user-menu {
    width: 100%;
  }

  .user-menu__link {
    padding-left: 15%;
  }
}
