.why-me {
  background-color: #fff7f1;
  margin-top: 30px;
  padding-bottom: 30px;
}

.why-me__title {
  margin: 0;
  font-size: 30px;
  text-align: center;
  padding: 0 10px;
  padding-top: 40px;
  font-weight: 300;
  margin-bottom: 40px;
}

.why-me__list {
  width: 300px;
  margin: 0 auto;
}

.why-me__item {
  width: 300px;
  height: 135px;
  background-color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
  display: flex;
  align-items: center;

  span {
    margin-left: 20px;
    display: flex;
    align-items: center;

    &::before {
      display: block;
      content: "";
      min-width: 75px;
      height: 75px;
      margin-right: 26px;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

.why-me__icon-01 {
  &::before {
    background-image: url("../img/why_me_01.png");
  }
}

.why-me__icon-02 {
  &::before {
    background-image: url("../img/why_me_02.png");
  }
}

.why-me__icon-03 {
  &::before {
    background-image: url("../img/why_me_03.png");
  }
}

.why-me__icon-04 {
  &::before {
    background-image: url("../img/why_me_04.png");
  }
}

.why-me__icon-05 {
  &::before {
    background-image: url("../img/why_me_05.png");
  }
}

.why-me__icon-06 {
  &::before {
    background-image: url("../img/why_me_06.png");
  }
}

@media (min-width: 321px) and (max-width: 767px) {
  .why-me__list {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .why-me__item {
    width: 100%;
    display: flex;
    justify-content: center;

    span {
      margin-right: 10px;
    }
  }
}

@media (min-width: 768px) {
  .why-me {
    margin-top: -10px;
  }

  .why-me__list {
    width: 90%;
    max-width: 900px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .why-me__item {
    max-width: 215px;
    height: 235px;
    margin-bottom: 25px;
    justify-content: center;
    align-items: flex-start;

    span {
      flex-direction: column;
      align-content: center;
      justify-content: center;
      text-align: center;
      margin-left: 0;
      padding: 0 10px;

      &::before {
        margin-right: 0;
        margin-top: 20px;
        margin-bottom: 30px;
      }
    }
  }
}


@media (min-width: 769px) and (max-width: 1169px) {
  .why-me__item {
    min-width: 30%;
  }
}

@media (min-width: 1170px) {
  .why-me {
    width: 1170px;
    margin: 0 auto;
    margin-top: -10px;
  }

  .why-me__title {
    font-size: 46px;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .why-me__list {
    min-width: 1170px;
  }

  .why-me__item {
    min-width: 365px;
    height: 200px;
    align-items: center;

    span {
      width: 290px;
      flex-direction: row;
      text-align: left;
      padding: 0;

      &::before {
        margin-right: 35px;
      }
    }
  }
}

@media (min-width: 1171px) and (max-width: 1574px) {
  .why-me {
    width: 100%;
  }
}
